<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGgkgI1e81sdf-qGmuoNUsJRAox2mjj-c</string>
	<key>GCM_SENDER_ID</key>
	<string>414575432278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseStorageImage</string>
	<key>PROJECT_ID</key>
	<string>profileimages-9d7b0</string>
	<key>STORAGE_BUCKET</key>
	<string>profileimages-9d7b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414575432278:ios:02df7f8010b97d2ec861f7</string>
</dict>
</plist>